//- Requires req.user variable

mixin navbarMenu
  if req.user
    //-li
      a(href='/posts') Posts
    li
      a(href='/events') Events
    li
      a(href='/tasks') Tasks

    if req.user.role === 'admin'
      li
        a(href='/users') Users
      li
        a(href='/attendances') Attendances

mixin navbar

  nav(role='navigation')
    div.nav-wrapper.container-fluid
      a.brand-logo(href='/') #[img(src='/public/img/logo-white.png')]

      //- Full-size navbar

      ul.right.hide-on-med-and-down

        +navbarMenu

        if req.user
          li
            a.dropdown-button(href='#!', data-activates='user-dropdown') #{req.user.name} #[i.material-icons.right arrow_drop_down]
        else
          li
            a(href='/login') Login

      //- Mobile sidebar

      ul.side-nav#nav-mobile
        if req.user
          li
            div.userView
              div.background
                img(src='/public/img/userview-background.jpg', style='width: 100%;')
              form(action='/logout', method='post')
                button.btn-floating.btn-large.right.waves-effect.waves-light(type='submit') #[i.material-icons lock]
              a(href='/users/' + req.user.nim)
                img.circle(src='/public/img/user-default.jpg')
              a(href='/users/' + req.user.nim)
                span.white-text.name= req.user.name
                span.white-text.email= req.user.nim
        else
          li
            a(href='/login') Login
          li
            div.divider
              
        +navbarMenu

      //- Mobile open sidebar/menu button
      a.button-collapse(href='#' data-activates='nav-mobile') #[i.material-icons menu]

  //- Full-screen user dropdown
  if req.user
    ul.dropdown-content#user-dropdown
      li
        a(href='/users/' + req.user.nim) Profile
      li
        form(action='/logout', method='post')
          button(type='submit') Logout

