//- Requires toasts variable to be available

mixin toasts
  != '<script>'
  if toasts
    each message in toasts
      != "Materialize.toast('" + utils.removeQuotes(message + '') + "', 4000);"
  != '</script>'