//- Requires toasts variable to be available

mixin toasts
  != '<script>'
  if toasts
    each message in toasts
      != "Materialize.toast('" + (message + '').replace(/[\\"']/g, '\\$&').replace(/\u0000/g, '\\0') + "', 4000);"
  != '</script>'