extends layouts/base.pug

block content

  div.container

    div.row.page-header
      div.col.s12
        h1 Attendance entry #[small= '- ' + event.name]

    div.row
      div.card.white
        form(action= '/events/' + event.id + '/attendances/entry', method='post')
          div.card-content
            div.row
              div.col.s8.m9.l10
                +textBoxField({ name: 'user_nim', label: 'NIM', required: true })
                label.-text
                  a#notesToggle.orange-text(href='#') Add note...
                div#notesField(style='display:none;')
                  +textBoxField({ name: 'notes', label: 'Notes (optional)' })
              div.col.s4.m3.l2
                br
                +submitButton({ label: 'Save' })   

    div.row
      div.card.white
        div.card-content
          if attendances.length > 0
            div.table-container
              table.highlight
                thead
                  tr
                    th.compact NIM
                    th.compact Name
                    th.compact Timestamp
                    th.compact Notes
                tbody
                  each attendance in attendances
                    tr
                      td.compact= attendance.user_nim
                      td.compact= attendance.user_name
                      td.compact= moment(attendance.timestamp).format(constants.longDateTimeFormat)
                      td.compact= attendance.notes
          else
            i No attendance entry yet.

block append scripts
  script.
    $(document).ready(function() {
        $('#notesToggle').click(function () {
          $('#notesField').slideToggle();
        });
    });