extends layouts/base.pug

block content

  div.container

    div.row.page-header
      div.col.s12.m7.l8
        if req.user && req.user.role == 'admin'
          a.btn-floating.waves-effect.waves-light(href='/events/create')
            i.material-icons add
          a.btn-floating.waves-effect.waves-light.blue(href='/events-table')
            i.material-icons list
        h1 Events
      div.col.s12.m5.l4
        +searchForm

    if events.data.length > 0
      each event in events.data
        div.row
          div.card.white
            div.card-content
              span.card-title= event.name
              div
                span= moment(event.start_time).format(constants.longDateTimeFormat)
                label &nbsp;&nbsp;to&nbsp;&nbsp;
                span= moment(event.end_time).format(constants.longDateTimeFormat)
            div.card-action
              a.btn(href= '/events/' + event.id) More info

      div.row
        div.center
          +pagination(events)

    else
      div.row
        div.card.white
          div.card-content
              i No events found.
