extends layouts/base.pug

block content

  div.container
    div.row
      br
      br
      form.col.s12.m8.l6.offset-m2.offset-l3(action='/login', method='post')
        div.card.white
          div.card-content
            h4.header.light.center Login
            br

            +textBoxField({ name: 'nim', label: 'NIM', type: 'number', required: true })
            +textBoxField({ name: 'password', label: 'Password', type: 'password', required: true })

            label
              a(href='/users/create') Register

          div.card-action.center
            button.btn.waves-effect.waves-light(type='submit') Login #[i.material-icons.right send]
