extends layouts/base.pug

block content

  div.container

    div.row.page-header
      div.col.s12
        h1 Change password #[small= '- ' + user.nim]

    div.row
      div.card.white
        form(action= '/users/' + user.nim + '/password?_method=put', method='post')
          div.card-content
            +textBoxField({ name: 'old_password', label: (user.role == 'admin' ? 'Administrator password' : 'Old password'), type: 'password', required: true })
            +textBoxField({ name: 'password', label: 'Password', type: 'password', required: true })
            +textBoxField({ name: 'password_confirmation', label: 'Confirm password', type: 'password', required: true })

          div.card-action
            +submitButton({ label: 'Save' })
  