extends layouts/base.pug

block content

  div.container

    div.row.page-header
      div.col.s12
        if user
          h1 Edit user #[small= '- ' + user.nim]
        else
          h1 Create user

    div.row
      div.card.white
        form(action= '/users' + (user ? '/' + user.nim + '?_method=put' : ''), method='post')
          div.card-content
          
            if (!user)
              +textBoxField({ name: 'nim', label: 'NIM', type: 'number', required: true })
              +textBoxField({ name: 'password', label: 'Password', type: 'password', required: true })
              +textBoxField({ name: 'password_confirmation', label: 'Confirm password', type: 'password', required: true })
            else
              label
                a.orange-text(href='/users/' + user.nim + '/edit/password') #[i.material-icons.tiny lock] Change password...
              br
              br

            +textBoxField({ name: 'name', label: 'Name', value: _.get(user, 'name'), required: true })
            +selectField({ name: 'gender', label: 'Gender', value: _.get(user, 'gender'), required: true, placeholder: 'Select gender...', options: utils.toOptionArray(constants.genders) })
            +textBoxField({ name: 'email', label: 'Email', type: 'email', value: _.get(user, 'email'), required: true })
            +textBoxField({ name: 'phone', label: 'Phone', value: _.get(user, 'phone'), required: true })
            +textBoxField({ name: 'line', label: 'LINE ID', value: _.get(user, 'line') })

            if req.user && req.user.role === 'admin'
              +selectField({ name: 'role', label: 'Role', value: _.get(user, 'role'), required: true, placeholder: 'Select role...', options: utils.toOptionArray(constants.roles) })

            +textAreaField({ name: 'bio', label: 'Bio (Github-Flavored Markdown available)', value: _.get(user, 'bio') })

          div.card-action
            +submitButton({ label: 'Save' })
  