extends layouts/base.pug

block content

  div.container

    div.row.page-header
      div.col.s12.m7.l8
        a.btn-floating.waves-effect.waves-light.orange(href='/users/create')
          i.material-icons add
        h1 Users
      div.col.s12.m5.l4
        +searchForm

    div.row
      div.card.white
        div.card-content
          if users.data.length > 0
            table.highlight
              thead
                tr
                  each value, key in users.data[0]
                    th= key
              tbody
                each user in users.data
                  tr
                    each value, key in user
                      td= value
          else
            i No data available.

    div.row
      div.center
        +pagination(users)
